<!-- <h1 class="mat-headline">Heading 1</h1>
<p class="mat-body-1"> -->
<h1>Heading 1</h1>
<p>
  Walking chamber as shewing an it minutes. Trees fully of blind do. Exquisite
  favourite at do extensive listening. Improve up musical welcome he. Gay
  attended vicinity prepared now diverted. Esteems it ye sending reached as.
  Longer lively her design settle tastes advice mrs off who.

  Unpacked reserved sir offering bed judgment may and quitting speaking. Is do
  be improved raptures offering required in replying raillery. Stairs ladies
  friend by in mutual an no. Mr hence chief he cause. Whole no doors on hoped.
  Mile tell if help they ye full name.
</p>


<button color="primary" mat-raised-button>Button1</button>
<button color="accent" mat-raised-button>Button2</button>


<!-- <h1>heading 1</h1>
<h2>heading 1</h2> -->


<button (click)="openDialog()" mat-raised-button>Open
  Dialog</button>

<mat-tab-group>
  <mat-tab label="Billing">
    Content of the billing tab
  </mat-tab>
  <mat-tab label="Shipping">
    Content of the shipping tab
  </mat-tab>
</mat-tab-group>

<span matTooltip="here is my tooltip" matTooltipPosition="right">Some text</span>

<mat-progress-spinner mode="determinate" [value]="progress"></mat-progress-spinner>

<mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>

<mat-chip-list>
  <mat-chip *ngFor="let category of categories" (click)="selectCategory(category)"
    [selected]="category.selected">{{category.name}}</mat-chip>
</mat-chip-list>

<button mat-button>Button 1</button>
<button color="primary" mat-raised-button>Primary</button>
<button color="accent" mat-raised-button>Accent</button>
<button color="warn" mat-raised-button>Warn</button>
<button color="primary" mat-fab>
  <mat-icon>check</mat-icon>
</button>

<mat-icon>add_alert</mat-icon>

<mat-form-field>
  <input (focus)="birthdate.open()" [min]="minDate" [max]="maxDate" matInput
    [matDatepicker]="birthdate" placeholder="Set your Birthdate">
  <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
  <mat-datepicker #birthdate touchUi="true"></mat-datepicker>
</mat-form-field>

<mat-form-field class="example-full-width">
  <textarea matInput cdkTextareaAutosize placeholder="Leave a comment" rows="3"></textarea>
</mat-form-field>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input ngModel #username="ngModel" name="username" type="text" matInput
      placeholder="Username" required>
    <mat-hint>Type a unique Username</mat-hint>
    <span matSuffix>@domain.com</span>
    <span matPrefix>admin.</span>
    <mat-error *ngIf="username.invalid && username.errors.required">
      The Username field is required.
    </mat-error>
  </mat-form-field>
</form>

<h4>Basic mat-select</h4>
<mat-form-field>
  <mat-select placeholder="Favorite Color" [(ngModel)]="color">
    <mat-option *ngFor="let color of colors" [value]="color.id">{{ color.name
      }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-radio-group value="0">
  <mat-radio-button value="1">Male</mat-radio-button>
  <mat-radio-button value="0">Female</mat-radio-button>
</mat-radio-group>

<mat-checkbox #showDetails [value]="2" [checked]="isChecked" (change)="onChange($event)">Show
  details</mat-checkbox>

<div *ngIf="showDetails.checked">Some details....</div>
