@import "~@angular/material/_theming";

@include mat-core();

// Define a custom theme
$app-primary: mat-palette($mat-blue, 600);
$app-accent: mat-palette($mat-orange, 700);
$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
//$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

// Define a custome typography (Customize to Open Sans with font size 35px, font height 32px, and font weight 700)
// "Helvetica Neue", sans-serif -> the "fallback" fonts.
$app-typography: mat-typography-config(
    $font-family: '"Open Sans", "Helvetica Neue", sans-serif',
    $headline:      mat-typography-level(35px, 32px, 700)
);

@include angular-material-typography($app-typography);




// @mixin soft-border($border-radius) {
//     border: 1px solid #ccc;
//     border-radius: $border-radius;
//     padding: 10px;    
// }

// .box {
//     @include soft-border(5px);
// }

// .modern-box {
//     @include soft-border(10px);
//     // ...
// }




// // @import "another.scss";
// $color: blue;

// h1 {
//     // ...
//     color: $color
// }

// h2 {
//     color: $color
// }